@font-face {
    font-family: "custom-amble";
    src: url("assets/fonts/amble/Amble-Regular.ttf") format('truetype');
}
body  
{
    background: #eaeaea;
    height: 100%;
   
      }
      
      .container {
        display: flex;
        flex-direction: column;
        background-color: beige;
       
      }
      
      .card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#21a1a8+14,2989d8+50,1e5799+85&0+0,0.8+15,1+18,0.8+87,1+90,1+90,0+100 */
        background: -moz-linear-gradient(-45deg,  rgba(33,161,168,0) 0%, rgba(33,161,168,0.75) 14%, rgba(33,160,169,0.8) 15%, rgba(34,158,173,1) 18%, rgba(41,137,216,0.91) 50%, rgba(30,87,153,0.81) 85%, rgba(30,87,153,0.8) 87%, rgba(30,87,153,1) 90%, rgba(30,87,153,0) 100%); /* FF3.6-15 */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(33,161,168,0)), color-stop(14%,rgba(33,161,168,0.75)), color-stop(15%,rgba(33,160,169,0.8)), color-stop(18%,rgba(34,158,173,1)), color-stop(50%,rgba(41,137,216,0.91)), color-stop(85%,rgba(30,87,153,0.81)), color-stop(87%,rgba(30,87,153,0.8)), color-stop(90%,rgba(30,87,153,1)), color-stop(100%,rgba(30,87,153,0))); /* Chrome4-9,Safari4-5 */
        background: -webkit-linear-gradient(-45deg,  rgba(33,161,168,0) 0%,rgba(33,161,168,0.75) 14%,rgba(33,160,169,0.8) 15%,rgba(34,158,173,1) 18%,rgba(41,137,216,0.91) 50%,rgba(30,87,153,0.81) 85%,rgba(30,87,153,0.8) 87%,rgba(30,87,153,1) 90%,rgba(30,87,153,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: -o-linear-gradient(-45deg,  rgba(33,161,168,0) 0%,rgba(33,161,168,0.75) 14%,rgba(33,160,169,0.8) 15%,rgba(34,158,173,1) 18%,rgba(41,137,216,0.91) 50%,rgba(30,87,153,0.81) 85%,rgba(30,87,153,0.8) 87%,rgba(30,87,153,1) 90%,rgba(30,87,153,0) 100%); /* Opera 11.10-11.50 */
        background: -ms-linear-gradient(-45deg,  rgba(33,161,168,0) 0%,rgba(33,161,168,0.75) 14%,rgba(33,160,169,0.8) 15%,rgba(34,158,173,1) 18%,rgba(41,137,216,0.91) 50%,rgba(30,87,153,0.81) 85%,rgba(30,87,153,0.8) 87%,rgba(30,87,153,1) 90%,rgba(30,87,153,0) 100%); /* IE10 preview */
        background: linear-gradient(135deg,  rgba(33,161,168,0) 0%,rgba(33,161,168,0.75) 14%,rgba(33,160,169,0.8) 15%,rgba(34,158,173,1) 18%,rgba(41,137,216,0.91) 50%,rgba(30,87,153,0.81) 85%,rgba(30,87,153,0.8) 87%,rgba(30,87,153,1) 90%,rgba(30,87,153,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0021a1a8', endColorstr='#001e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */;
        padding: 12px;
        

        min-height: 150px;
        margin-bottom: 10px;
        position: relative;
      }
      
      .card__effect {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
      }

      .card__head
      {
        color: rgb(13, 14, 121);
        font-size: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif; 
        z-index: 10;
      }
      .card__content {
        z-index: 10;
        color: rgb(12, 12, 14);
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
    
      .card-1 .card__desc-title
      {
        font-size: 3em;
        font-family: cursive
      }

      
      svg path {
        stroke-opacity: 0;
        stroke: #000000;    
      }
      .card__desc-title{
        color: rgb(13, 14, 121);
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }

      .card__description {
      font-family: cursive;
        width: 477.583px;
      }
      .card-3{
        height: 250px;

      }

      .card-3 .card__description {
        padding-top: 11px;
        margin-bottom: 108px;
      }

      .card__expérience{
       width: 477.58px; 
      }

.span
{
    text-align: center;

}


footer
{
    color: rgb(13, 14, 121);
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: initial;
    font-weight: bold;
    text-decoration: brown;
    text-decoration-style: dotted;
    background-color: cornflowerblue;
    border: 2px black solid;
    border-radius: 10px;
    box-shadow: 6px 6px 0px black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
    vertical-align: middle;
        
}

footer div

{   
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30%;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

footer div a {
    display: contents;
}

#phoneImg
{
    vertical-align: middle;
    height: auto;
    width: 15%;

}
#maison
{
    vertical-align: middle;
    height: auto;
    width: 17%
}

#lettre
{
    vertical-align: middle;
    height: auto;
    width: 16%
}
