@font-face {
    font-family: "custom-amble";
    src: url("assets/fonts/amble/Amble-Regular.ttf") format('truetype');
}
body  
{
    background: #eaeaea;
      }
      
      .container {
        display: flex;
        flex-direction: column;
       
      }
      
      .card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        padding: 12px;
        background: white;
        min-height: 125px;
        
        margin-bottom: 10px;
        position: relative;
      }
      
      .card__effect {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
      }

      .card__head
      {
        color: rgb(13, 14, 121);
        font-size: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif; 
      }
      .card__content {
        z-index: 10;
        color: rgb(13, 14, 121);
        font-size: 15px;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
      
      svg path {
        stroke-opacity: 0;
        stroke: #000000;    
      }
      .card__desc-title{
        color: rgb(13, 14, 121);
        font-size: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }

      .card__description {
        width: 477.583px;
      }
.container
{
    /*display: flex;
    flex-direction: row;
    align-content: stretch;
    padding: 10px;*/
}




p
{
    color: black;
    width: 33%;
    min-width: 200px;
    text-align: justify;

}
.coordonnées
{
    color: rgb(38, 54, 49);
    font-size: 18px;
    font-family: "comic sans-serif", verdana, "trebuchet ms";
    font-style: italic;
    font-weight: bold;
}

.cv
{
    color: rgb(13, 14, 121);
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*! font-style: initial; */
    font-weight: bold;
    /*! text-decoration: brown; */
    text-decoration-style: dotted;
    text-align: center; 
    /*! background-color: cornflowerblue; */
    /*! border: 2px black dashed; */
    /*! border-radius: 10px; */
    /*! box-shadow: 6px 6px 0px black; */  
}
.span
{
    text-align: center;

}
h2 /* sans survol*/
{
    color: rgb(109, 109, 121);
    text-decoration-color: aqua;
    font-family: custom-amble;
    word-wrap: break-word;
}
 
h3
{
    color: black;
}

footer
{
    color: rgb(13, 14, 121);
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: initial;
    font-weight: bold;
    text-decoration: brown;
    text-decoration-style: dotted;
    background-color: cornflowerblue;
    border: 2px black solid;
    border-radius: 10px;
    box-shadow: 6px 6px 0px black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
    vertical-align: middle;
        
}

footer div

{   
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30%;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

footer div a {
    display: contents;
}

#phoneImg
{
    vertical-align: middle;
    height: auto;
    width: 15%;

}
#maison
{
    vertical-align: middle;
    height: auto;
    width: 17%
}

#lettre
{
    vertical-align: middle;
    height: auto;
    width: 16%
}
